<!doctype html>
<meta charset="utf-8">
<html>
  <head>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@cmaui">
    <meta name="twitter:title" content="Angularjs Nvd3 Directives">
    <meta name="twitter:description" content="Angular.js Directives for d3.js and nvd3.js charts">
    <meta name="twitter:creator" content="@cmaui">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta name="twitter:domain" content="http://bit.ly/16PDa4W">

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
      {% if page.description %}
    <meta property="og:description" content="{{ page.description }}">
      {% else %}
    <meta property="og:description" content="Angular.js Directives for d3.js and nvd3.js charts">
      {% endif %}

    <meta property="og:title" content="Angularjs Nvd3 Directives" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/16PDa4W" />
    <meta property="og:codeRepository" content="https://github.com/cmaurer/angularjs-nvd3-directives" />
    <meta property="og:programmingLanguage" content="javascript" />
    <meta property="og:keywords" content="angular.js angular d3 d3.js nvd3 nvd3.js directives chart charts" />
    <meta property="og:site_name" content="Angular.js nvd3.js directives" />
    <meta name="news_keywords" content="Angular.js D3.js NVD3.js Directives">

    <meta content="website" property="og:type">
    <meta http-equiv="cache-control" content="Public" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="ROBOTS" content="ALL">
    <meta content="{{ title }}" property="og:title">

    <meta name="description" content="Angular.js Directives for d3.js and nvd3.js charts">


      <title>Angular.js Directives for nvd3.js and d3.js {% if page.title %} ~ {{ page.title }}{% endif %} ~ nvd3js d3js angularjs</title>

    <link rel="stylesheet" href="{{ site.path }}stylesheets/styles.min.css">
    <link rel="stylesheet" href="{{ site.path }}stylesheets/pygment_trac.min.css">
    <link rel="stylesheet" href="{{ site.path }}lib/nvd3/nv.d3.css">

    <script type="text/javascript" src="{{ site.path }}lib/angular/angular.min.js" charset="utf-8" ></script>
    <script type="text/javascript" src="{{ site.path }}lib/d3/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ site.path }}lib/nvd3/nv.d3.min.js"/>
    <script type="text/javascript" src="{{ site.path }}lib/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
		
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body ng-app='nvd3TestApp'>
    <script type="text/javascript" src="{{ site.path }}lib/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <div class="wrapper" itemscope itemtype="http://schema.org/Code">
      <header>
        <h1>Angularjs-nvd3-directives</h1>
        <p><a itemprop="url" href="http://www.angularjs.org">Angular.js</a> directives for <a itemprop="url" href="http://d3js.org/">d3.js</a> and <a itemprop="url" href="http://nvd3.org/">nvd3.js</a></p>
        <p class="view"><a a itemprop="url" href="https://github.com/cmaurer/angularjs-nvd3-directives">View the Project on GitHub <small>cmaurer/angularjs-nvd3-directives</small></a></p>
        <ul>
          <li><a href="https://github.com/cmaurer/angularjs-nvd3-directives/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/cmaurer/angularjs-nvd3-directives/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/cmaurer/angularjs-nvd3-directives">View On <strong>GitHub</strong></a></li>
          <li><iframe src="//benschwarz.github.io/bower-badges/embed.html?pkgname=angularjs-nvd3-directives" width="160" height="32" allowtransparency="true" frameborder="0" scrolling="0"></iframe></li>
        </ul>

      </header>
        <section><div class="view"><a href="{{ site.path }}index.html">Home</a>	#	<a href="{{ site.path }}line.chart.html">Line Charts</a>	#	<a href="{{ site.path }}stacked.area.chart.html">Stacked Area Charts</a>	#	<a href="{{ site.path }}multi.bar.chart.html">Multi Bar Charts</a>	#	<a href="{{ site.path }}multi.bar.horizontal.chart.html">Multi Bar Horizontal Charts</a>	#	<a href="{{ site.path }}discrete.bar.chart.html">Discrete Bar Charts</a>	#	<a href="{{ site.path }}pie.chart.html">Pie Charts</a>	#	<a href="{{ site.path }}scatter.chart.html">Scatter Charts</a>	#	<a href="{{ site.path }}sparkline.chart.html">Sparkline Charts</a>	#	<a href="{{ site.path }}cumulative.line.chart.html">Cumulative Line Charts</a>  #	<a href="{{ site.path }}line.with.focus.chart.html">Line with Focus Chart</a> #	<a href="{{ site.path }}bullet.chart.html">Bullet Charts</a>	#	<a href="{{ site.path }}events.html">Events</a></div></section>
      <section>
		{{ content }}      
	  </section>
      <footer>
        <p>This project is maintained by <a itemprop="author" href="https://github.com/cmaurer">cmaurer</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>

          <p itemscope itemtype="http://schema.org/Code"><small><a itemprop="url" href="http://www.angularjs.org">Angular.js</a> is maintained by <a itemprop="author" href="http://www.angularjs.org/">Angular - Google</a>, and can be found on <a itemprop="codeRepository" href="https://github.com/angular/angular.js">github</a></small></p>
          <p itemscope itemtype="http://schema.org/Code"><small><a itemprop="url" href="http://d3js.org/">d3.js</a> is maintained by <a itemprop="author" href="http://bost.ocks.org/mike/">Mike Bostock</a>, and can be found on <a itemprop="codeRepository" href="https://github.com/mbostock/d3">github</a></small></p>
          <p itemscope itemtype="http://schema.org/Code"><small><a itemprop="url" href="http://nvd3.org/">nvd3.js</a> is maintained by <a itemprop="author" href="https://www.novus.com/">Novus Partners</a>, and can be found on <a itemprop="codeRepository" href="https://github.com/novus/nvd3">github</a></small></p>
      </footer>
    </div>
    <script src="{{ site.path }}javascripts/scale.fix.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43250024-1', 'cmaurer.github.io');
        ga('send', 'pageview');

    </script>

  </body>
</html>
